@font-face {
    font-family: Frutiger LT Std;
    src: url("../fonts/f7e7b4af2b8b6a622ffc59f70392ee04.otf") format("opentype");
}


/*HEADERS------------------------------------------------------------------------------*/

h1 {
    color: #000382;
    font-size: 120%;
    font-family: Frutiger LT Std;
    position: fixed;
    margin-top: 1em;
    margin-left: 30%;
}

.titelsmall {
    color: #000382;
    font-size: 120%;
    font-family: Frutiger LT Std;
    position: fixed;
    margin-top: 1em;
    width: 20em;
    margin-left: 30%;
    height: 6em;
}

header {
    box-shadow: 0 2px 0 0 rgba(7, 7, 33, .15);
    background: #fff;
    left: 0;
    min-height: 3.75rem;
    min-width: 320px;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 520;
}

.header2 {
    box-shadow: 0 2px 0 0 rgba(7, 7, 33, .15);
    background: #fff;
    left: 0;
    min-height: 3.75rem;
    min-width: 320px;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 520;
    margin-top: 3.4em;
    border-top: 1px solid #000382;
}


/*HEADER ICONS EN LOGOS----------------------------------------------------------------------------------------------*/

.ns-logo {
    margin-left: -1.2rem;
    margin-top: 0em;
    position: fixed;
    height: 4em;
    width: 7em;
}

.profileicon {
    width: 1.5em;
    height: 1.4em;
    margin-left: 65%;
    position: fixed;
    margin-top: 1em;
}

.checkicon {
    width: 1.6em;
    height: 1.5em;
    margin-left: 75%;
    position: fixed;
    margin-top: 1em;
}

.historyicon {
    width: 1.6em;
    height: 1.5em;
    margin-left: 85%;
    position: fixed;
    margin-top: 1em;
}

#zoekbalk {
    width: 6em;
    height: 2em;
    border-style: none;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    background-image: url(magnifying-glass.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 1.5em;
    position: fixed;
    margin-left: 70%;
    font-size: 0.9em;
    font-family: Frutiger LT Std;
    margin-top: -2.4em;
}

#menuicon {
    width: 2.5rem;
    height: 2rem;
    margin-top: 0.7rem;
    margin-left: 1em;
    cursor: pointer;
}


/*FILTER SYSTEEM------------------------------------------------------------------------*/

.filter {
    margin-top: 2.3em;
    margin-left: 1%;
    margin-right: 1%;
    background-color: #ffc917;
    width: 97%;
    height: 16%;
    font-size: 1.8em;
    position: fixed;
    z-index: 10;
    display: none;
    visibility: hidden;
}

.checkboxesmenu {
    /*margin-top: 7.5em;*/
    font-family: Frutiger LT Std;
    color: #000382;
}

.checkboxesmenu2,
.checkboxesmenu3,
.checkboxesmenu4 {
    font-family: Frutiger LT Std;
    color: #000382;
}

select {
    margin-top: 2em;
    margin-bottom: 0.3em;
    width: 22%;
    height: 40%;
    margin-left: 1.7%;
    font-family: Frutiger LT Std;
    font-size: 55%;
    color: #000382;
}


/*BANNERFOTO-----------------------------------------------------------------------*/

.bannerfoto {
    margin-top: 12em;
    width: 96%;
    height: 12em;
    margin-left: 0.8em;
}


/*LOGIN-----------------------------------------------------------------------------*/

.Logintitle {
    font-size: 2em;
    margin-top: 1.5em;
    font-family: Frutiger LT Std;
    color: #000382;
    margin-top: -2%;
}

fieldset {
    border-style: none;
}

.inloggen {
    margin-left: auto;
    margin-right: auto;
    /*    max-width: 100%;*/
    height: 40%;
    background-color: #ffc917;
    display: flex;
    flex-direction: column;
    /*    transition: all .5s;*/
    padding: 3em;
    color: #000382;
    font-family: Frutiger LT Std;
    margin-top: 8em;
}

.inloggen a {
    display: block;
    margin-top: 0.2em;
    margin-left: -2%;
    color: #ffffff;
    text-decoration: underline;
}

legend {
    display: none;
}

.inloggen label {
    /*    display: block;*/
    font-family: Frutiger LT Std;
    margin-left: -2%;
    width: 100%;
}

.inloggen button {
    padding: 1em;
    width: 10em;
    margin-left: -2%;
    margin-bottom: 0.5em;
    margin-top: 1.5em;
    font-size: 1em;
    background-color: #0079d3;
    font-family: Frutiger LT Std;
    color: #ffffff;
}

.inloggen button:hover {
    background-color: #005ca0;
}

input:invalid {
    background-color: white;
}

#password:valid {
    background-color: lightgreen;
}

.inloggen input[type=text] {
    margin-top: 0.4em;
    width: 100%;
    height: 3em;
    font-size: inherit;
    margin-left: -2%;
}

.inloggen input[type=password] {
    margin-top: 0.4em;
    width: 100%;
    height: 3em;
    font-size: inherit;
    margin-left: -2%;
}

.inloggen input[type=email] {
    margin-top: 0.4em;
    width: 100%;
    height: 3em;
    font-size: inherit;
    margin-left: -2%;
}

form {
    background-color: #FFFFFF;
    font-size: 1em;
    height: 3.5em;
}


/*REGISTREREN-----------------------------------------------------------------------------*/

.aanmelden {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: 80%;
    background-color: #ffc917;
    display: flex;
    flex-direction: column;
    /*    transition: all .5s;*/
    padding: 3em;
    color: #000382;
    font-family: Frutiger LT Std;
    margin-top: 8em;
}

.aanmelden a {
    display: block;
    margin-top: 0.2em;
    margin-left: -2%;
    color: #ffffff;
    text-decoration: none;
}

legend {
    display: none;
}

.aanmelden label {
    display: block;
    font-family: Frutiger LT Std;
    margin-top: 0%;
    margin-left: -2%;
    width: 100%
}

.aanmelden button {
    padding: 1em;
    width: 10em;
    margin-left: -2%;
    margin-bottom: 0.5em;
    margin-top: 1.5em;
    font-size: 0.9em;
    background-color: #0079d3;
    font-family: Frutiger LT Std;
    color: #ffffff;
}

.aanmelden button:hover {
    background-color: #005ca0;
}

input:invalid {
    background-color: white;
}

#password:valid {
    background-color: lightgreen;
}

.aanmelden input[type=text] {
    margin-top: 0.4em;
    width: 100%;
    height: 2em;
    font-size: inherit;
    margin-left: -2%;
}

.aanmelden input[type=password] {
    margin-top: 0.4em;
    width: 100%;
    height: 2em;
    font-size: inherit;
    margin-left: -2%;
}

.aanmelden input[type=email] {
    margin-top: 0.4em;
    width: 100%;
    height: 2em;
    font-size: inherit;
    margin-left: -2%;
}

::-webkit-input-placeholder {
    display: block;
    padding-left: 0.5em;
}


/*main------------------------------------------------------------------------------------*/

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    margin-top: 7.5em;
}

a {
    text-decoration: none;
}

main {
    display: flex;
    /*justify-content: space-around;*/
    flex-wrap: wrap;
    margin-right: -1.5rem;
    overflow: hidden;
    max-width: 100vw;
}

main {
    padding: 1rem 1em 1em;
}

body {
    background-color: #e6e6e9;
    width: 100vw;
    overflow-x: hidden;
}


/*VERHALEN----------------------------------------------------------------------------*/

.imgzoon {
    width: 90%;
    height: 90%;
    margin-left: 5%;
    margin-top: -5%;
}

.imgrecept {
    width: 90%;
    height: 90%;
    margin-left: 5%;
    margin-top: -5%;
}

.imgberoemd {
    width: 90%;
    height: 90%;
    margin-left: 5%;
    margin-top: -5%;
}

article {
    background-color: white;
    width: 25rem;
    min-height: 20rem;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
    padding: 1.7rem;
    flex-grow: 1;
    flex-shrink: 1;
    position: relative;
    /*    margin-left: 50%;*/
    /*margin-top: -19.5%;*/
    /*padding: 0%;*/
    /* margin-bottom: 20%;*/
}

article:nth-child(1) {
    background-color: #ffc917;
}

h3 {
    font-family: Frutiger LT Std;
    /*margin: 1.7em;*/
    color: #000382;
    font-size: 1.2em;
    margin-bottom: 1.4rem;
}


/*op tablet en mobiel veranderd img in icon*/

.icon {
    position: absolute;
    top: 0;
    right: 0;
    width: 10%;
}

.imgartikel {
    width: 100%;
    margin-bottom: 0.4rem;
}

p {
    /*    width: 170%;*/
    font-family: Frutiger LT Std;
    /*    margin-left: -140%;*/
    /*    margin-top: 30%;*/
    font-size: 1em;
    /*margin-bottom: -42%;*/
    /*background-color: #ffc917;*/
    /*padding: 0 1.7em 0.5em 1.7em;*/
    color: darkslategrey;
    margin-bottom: 1rem;
}

footer img {
    width: 2rem;
    height: 2rem;
}

button {
    background: #000382;
    cursor: pointer;
    text-align: center;
    transition-property: background;
    transition-duration: 1s;
    transition-timing-function: linear;
    color: white;
    font-family: Frutiger LT Std;
    float: right;
    width: 6rem;
    height: 2.5rem;
    font-size: 0.9em;
}

button:hover {
    background: #ffc917;
    color: #000382;
}

.checkiconstil {
    cursor: pointer;
}

.checkiconstil:click {
    background-image: url(checkmark.png);
}

.commenticonstil {
    cursor: pointer;
    text-decoration: none;
}


/*PAGINA MET GEFILTERDE VERHALEN---------------------------------------------*/

h2 {
    font-family: Frutiger LT Std;
    margin-bottom: 0.6em;
    font-size: 1.2em;
}

h4 {
    font-family: Frutiger LT Std;
    margin-top: -1em;
    margin-bottom: 0.4em;
}


/*
.tekst {
    display: flex;
    font-family: Frutiger LT Std;
    font-size: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 8%;
}*/


/*
section {
    height: 100%;
    width: 100%;
    color: white;
    display: block;
}
*/


/*
.viewers,
.comment,
.favorite {
    height: 5%;
    width: 5%;
    margin-left: 5%;
    margin-right: -3%;
    margin-top: 3%;
}
*/


/*
.cijfers {
    width: 40%;
    margin-top: -1%;
    margin-left: 5%;
}
*/


/*
address {
    margin-left: 40%;
    margin-top: -17%;
    font-size: 80%;
    font-family: Frutiger LT Std;
}
*/


/*
.zoekbalkheader {
    margin-top: 5%;
    margin-left: 1%;
    margin-right: 1%;
    background-color: #ffc917;
    width: 97%;
    font-size: 2em;
    margin-bottom: -10%;
}*/


/*verhalen----------------------------------------------------------*/


/*    .bannerverhaal {*/


/*
    background-color: white;
  margin-bottom: -2%;
  width: 55%;
  height: 2%;
  margin-left: 1.7em;
  margin-top: -3%;
  padding: 1%;
*/


}

/*img {
    margin: auto;
    width: 5%;
    height: 5%;
}*/

/*
article:last-child {
    max-width: 30rem;
}
*/

/*
a article {
    font-family: Frutiger LT Std;
    font-size: 1.2em;
    color: darkblue;
    margin-left: 70%;
    margin-bottom: 2%;
}
*/
article {
    /*width: 25%;
    height: 20%;
    margin-top: -4%;*/
}

/*article {
    margin-left: 0.1%;
    margin-right: 0.1%;
}*/

/*
.bovenstespan {
    background-color: white;
    display: flex;
    margin-bottom: 2%;
    width: 40%;
    margin-left: 55%;
    margin-top: -3em;
    padding: 1%;
}
*/
@media screen and (min-width:680px) {
    .header2 {
        visibility: hidden;
        display: none;
    }
}
@media screen and (max-width:680px) {
    h1 {
        visibility: hidden;
        display: none;
    }
    
    .titelsmall {
        visibility: visible;
        display: block;
    }
}
@media screen and (min-width:680px) {
    .titelsmall {
        visibility: hidden;
        display: none;
    }
    
    h1 {
        visibility: visible;
        display: block;
    }
}
@media screen and (max-width: 880px) {
    .imgartikel {
        visibility: hidden;
        display: none;
    }
}
@media screen and (min-width: 880px) {
    .icon {
        visibility: hidden;
        display: none;
    }
    
    .imgartikel {
        visibility: visible;
        display: block;
    }
}
@media screen and (max-width: 700px) {
    .bannerfoto {
        display: none;
    }
}
@media screen and (max-width: 700px) {
    .profiel {
        display: none;
    }
}
@media screen and (min-width: 700px) {
    .filter {
        display: block;
        visibility: visible;
    }
}

/*
@media screen and (max-width: 700px) {
    .checkboxesmenu {
        display: block;
        visibility: visible;
    }
}
*/
.checkboxesmenu:not(.open-checkbox) {
    display: none;
    visibility: hidden;
}
.checkboxesmenu2:not(.open-checkbox) {
    display: none;
    visibility: hidden;
}
.checkboxesmenu3:not(.open-checkbox) {
    display: none;
    visibility: hidden;
}
.checkboxesmenu4:not(.open-checkbox) {
    display: none;
    visibility: hidden;
}
@media screen and (min-width: 700px) {
    .checkboxesmenu,
    .checkboxesmenu2,
    .checkboxesmenu3,
    .checkboxesmenu4 {
        display: none;
        visibility: hidden;
    }
}
@media screen and (max-width: 700px) {
    /*.checkboxesmenu2 {
        display: block;
        visibility: visible;
    }*/
}
@media screen and (min-width: 700px) {}
@media screen and (max-width: 720px) {
    main {}
}

/*
# Phone only screen and (max-width:20em) # Tablet only screen and (min-width:60em) and (max-width:100em) # Desktop only screen and (min-width:80em)*/